:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    background-color: var(--lightgray);
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 550px;
    width: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;

}