:root {
    --white: hsl(0, 0%, 100%);
    --lightgray: hsl(212, 45%, 89%);
    --grayblue: hsl(220, 15%, 55%);
    --darkblue: hsl(218, 44%, 22%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--lightgray);
}

main {
    display: flex;
    font-family: 'Outfit', sans-serif;
    font-size: 0.9375rem;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    height: 550px;
    flex-basis: 350px;
    border-radius: 15px;
    padding: 15px ;
}

img {
    height: 320px;
    width: 320px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px;
    text-align: center;
    gap: 18px;
}

h1 {
    color: var(--darkblue);
    font-size: 1.5rem;
}

p {
    color: var(--grayblue)
}